<div class="row">
  <div class="card mb-5 col-lg-4">
    <h2 class=""><%= params[:question]%></h2>
    <h3 class="opacity-75 fw-lighter">- you</h3>
  </div>
</div>
<div class="row">
  <div class="card mb-5 bg-warning bg-opacity-25 col-lg-4">
    <h2><%=@answer%></h2>
    <h3 class="opacity-75 fw-lighter">- Your Coach</h3>
  </div>
</div>
