<h1 class="text-center">COACH</h1>
<div class="container">
  <form action="/answer" method="get" class="row">
    <div class="col-10">
      <input type="text" name="question" placeholder="Ask the Coach anything" class="form-control">
    </div>
    <div class="col-2">
      <input type="submit" value="ASK!" class="btn btn-primary" class="form-control">
    </div>
  </form>
</div>
<h2></h2>
